<div class="ui items segment">
    <div class="stackable item">
        <div class="image">
            {% if profile.avatar %}
            <img src="{{ profile.avatar.url }}" class="mygender-{{ profile.gender }}">
            {% else %}
            <img src="{{ profile|get_default:'avatar' }}" class="mygender-{{ profile.gender }}">
            {% endif %}
        </div>
        <div class="content">
            <h2 class="header mystate-{{ profile.state }}">{{ profile|prettify }}</h2>
            <div class="meta">
                <div class="ui list">
                    <div class="item">Gender: {{ profile.get_gender_display }}</div>
                    {% load humanize %}
                    <div class="item">Created: {{ profile.user.date_joined|naturaltime }}</div>
                    <div class="item">Last seen: {{ profile.user.last_login|naturaltime }}</div>
                </div>
            </div>
            <div class="description">
                {{ profile.description_html|safe }}
            </div>
            <div class="actions">
                {% if request.is_owner %}
                <a href="{% url 'profiles:update' profile %}" class="ui button link">edit</a>
                <a href="{% url 'profiles:delete' profile %}" class="ui button link">delete</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
