<div class="ui items segment">
    <div class="stackable item">
        <div class="image">
            <img src="/media/banana.jpg" class="mygender-{{ profile.gender }}">
        </div>
        <div class="content">
            <h2 class="header mystate-{{ profile.state }}">{{ profile|prettify }}</h2>
            <div class="meta">
                <div class="ui list">
                    <div class="item">Gender: {{ profile.get_gender_display }}</div>
                    <div class="item">Created at: {{ profile.user.date_joined|date:"l, j E Y" }}</div>
                    <div class="item">Last seen: {{ profile.user.last_login|date:"l, j E Y" }}</div>
                </div>
            </div>
            <div class="description">
                {{ profile.description_html|safe }}
            </div>
            <div class="actions">
                {% if request.is_owner %}
                <a href="{% url 'profiles:update' profile %}" class="ui button link">edit</a>
                <a href="{% url 'profiles:delete' profile %}" class="ui button link">delete</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
