<div class="ui segment">
    <h1 class="ui dividing header">Edit {{ profile|prettify }}</h1>
    <form enctype="multipart/form-data" method="post" action="{% url 'profiles:update' profile %}" class="ui form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="ui positive fluid submit button">Save</button>
    </form>
    <form method="post" action="{% url 'account_change_password' %}" class="ui form">
        {% csrf_token %}
        {{ pwform.as_p }}
        <button type="submit" class="ui positive fluid submit button">Save</button>
    </form>
</div>
