{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}

{% if form.errors %}
<p>{{ form.errors }}</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form action="{% url 'account_login' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Log in!">
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
