{% extends "base.html" %}

{% block title %}
Log in!
{% endblock %}

{% block content %}

<div class="ui column stackable center aligned grid">
    <form class="ui four wide column form segment" method="post" action="{% url 'account_login' %}">
        <h1 class="ui dividing header">
            Log in
        </h1>
        <div class="ui required field">
            <label>User name</label>
            <input name="login" type="text" minlength="4" maxlength="20" autofocus="autofocus" required="">
            {{ form.nick.errors }}
        </div>
        <div class="ui required field">
            <label>Password</label>
            <input name="password" type="password" required="">
            {{ form.password.errors }}
        </div>

        <button class="ui green fluid button" type="submit">Log in!</button>

        <div class="ui ignored toggle animation checkbox">
            <input name="remember" type="checkbox">
            <label>Remember Me?</label>
        </div>

        <a href="{% url 'account_reset_password' %}">Password reset</a>

        {% if redirect_field_value %}
            <input class="hidden" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        {% csrf_token %}
    </form>
</div>
{% endblock %}
