{% extends "base.html" %}

{% block title %}
Change password
{% endblock %}

{% block content %}
<div class="ui segment">
    {% if token_fail %}
    <h1 class="ui dividing header">
        The password reset link was invalid, possibly because it has already been used. Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.
    </h1>
    {% else %}
    {% if form %}
    <form method="post" action="{{ action_url }}" class="ui form">
        <h1 class="ui dividing header">
            Change password
        </h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="ui green fluid submit button" type="submit">Change</button>
    </form>
    {% else %}
    <h1 class="ui dividing header">
        Your password is now changed.
    </h1>
    {% endif %}
    {% endif %}
</div>
{% endblock %}
