{% extends "base.html" %}

{% block title %}
Sign up!
{% endblock %}

{% block content %}
<div class="ui segment">
    <h1 class="ui dividing header">
        Verify your e-mail address
    </h1>
    <p>This part of the site requires us to verify that
        you are who you claim to be. For this purpose, we require that you
        verify ownership of your e-mail address.</p>

    <p>We have sent an e-mail to you for
        verification. Please click on the link inside this e-mail. Please
        contact us if you do not receive it within a few minutes.</p>

    <p><strong>Note:</strong> you can still <a href="{% url 'account_email' %}">change your e-mail address</a>.</p>
</div>
{% endblock %}
