{% extends "base.html" %}

{% block title %}
Confirm email
{% endblock %}

{% block content %}
<div class="ui segment">
    {% if confirmation %}
    <form class="ui form" method="post" action="{% url 'account_confirm_email' confirmation.key %}">
        <h1 class="ui dividing header">
        {% with confirmation.email_address.user as user_display %}
        {% with confirmation.email_address_email as email %}
        Confirm that <ahref="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}
        {% endwith %}
        {% endwith %}
        </h1>
        <button class="ui green fluid submit button" type="submit">Confirm</button>
        {% csrf_token %}
    </form>
    {% else %}
    <h1 class="ui dividing header">
    {% url 'account_email' as email_url %}
    This e-mail confirmation link expired or is invalid</h1>
    Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.
    {% endif %}
</div>
{% endblock %}
