{% extends "base.html" %}

{% block title %}
Log in!
{% endblock %}

{% block content %}
<div class="ui segment">
    <form class="ui form" method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        <h1 class="ui dividing header">
            Log in
        </h1>
        <div class="ui required field">
            <label>User name</label>
            <input name="login" type="text" minlength="4" maxlength="20" autofocus="autofocus" required="">
            {{ form.nick.errors }}
        </div>
        <div class="ui required field">
            <label>Password</label>
            <input name="password" type="password" required="">
            {{ form.password.errors }}
        </div>
        {% if redirect_field_value %}
        <input class="hidden" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <button class="ui green fluid submit button" type="submit">Log in!</button>
        <p></p>
        <a href="{% url 'account_reset_password' %}" class="ui fluid button link">Reset my password</a>
    </form>
</div>
{% endblock %}
