{% extends "base.html" %}

{% block title %}
Log out
{% endblock %}

{% block content %}
<div class="ui segment">
    <form class="ui form" method="post" action="{% url 'account_logout' %}">
        <h1 class="ui dividing header">
            Are you sure you want to log out?
        </h1>
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="ui positive fluid submit button" type="submit">yes :)</button>
    </form>
</div>
{% endblock %}
