{% extends "base.html" %}

{% block title %}
Set password
{% endblock %}

{% block content %}
{% load account %}
<h1>{% trans "Password Reset" %}</h1>
<div class="ui segment">
    <form method="post" action="{% url 'account_set_password' %}" class="ui form">
        <h1 class="ui dividing header">
            Set password
        </h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="ui green fluid submit button" type="submit">Set</button>
    </form>
</div>
{% endblock %}
