{% if posts %}
{% for post in posts %}
<div class="ui grid segment">
    <div class="ui sixteen wide column">
        {% if post.attachment %}
        <img class="ui tiny left floated fluid image" src="{{ post.attachment.url }}">
        {% endif %}
        <a href="{% url 'sections:posts:detail' post.section post.id post.slug %}">
            <h2>{{ post.title|truncatewords:20 }}</h2>
        </a>
        <p>{{ post.content_html|truncatewords_html:20|safe }}</p>
    </div>
    <div class="ui sixteen wide column">
        <a class="mystate-{{ post.author.profile.state }}" href="{% url 'profiles:detail' post.author %}">{{ post.author.profile|prettify }}</a>
        &nbsp;{{ post.date|shortnaturaltime }}
        <div class="ui right floated tiny icon buttons">
            <a class="ui negative button">
                <i class="icon minus"></i>
            </a>
            <span class="ui button">
                0
            </span>
            <a class="ui positive button">
                <i class="icon plus"></i>
            </a>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
