{% if comments %}
<div class="ui segment">
    <div class="ui comments">
    {% for comment in comments %}
    <div class="ui comment" id="{{ comment }}">
        <a class="avatar">
            {% if comment.author.profile.avatar %}
            <img class="mygender-{{ comment.author.profile.gender }}" src="{{ comment.author.profile.avatar.url }}">
            {% else %}
            <img class="mygender-{{ comment.author.profile.gender }}" src="{{ comment.author.profile|get_default:'avatar' }}">
            {% endif %}
        </a>
        <div class="content">
            <a href="{% url 'profiles:detail' comment.author %}" class="author mystate-{{ comment.author.profile.state }}">{{ comment.author.profile|prettify }}</a>
            <span class="mycommentid">{{ comment|prettify }}</span>
            <div class="metadata">
                <span class="date">{{ comment.posted_date }}</span>
            </div>
            <div class="text">
                {% load static %}
                {{ comment.content_html|safe }}
                {% if comment.attachment %}
                <img style="max-width:400px;" src="{{ comment.attachment.url }}">
		<div style="color: grey;">{{ comment.attachment.url }}</div>
                {% endif %}
            </div>
            <div class="actions">
                {% if request.user|is_owner:comment %}
                <a href="{% url 'sections:posts:comments:update' comment.post.section comment.post.id comment.post.slug comment %}" class="reply">Edit</a>
                <a href="{% url 'sections:posts:comments:delete' comment.post.section comment.post.id comment.post.slug comment %}" class="reply">Delete</a>
                {% else %}
                <a class="reply">Reply</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% empty %}
    {% endfor %}
    </div>
</div>
{% endif %}
