{% extends "base.html" %}

{% block title %}
Sign up!
{% endblock %}

{% block content %}
<div class="ui segment">
    <form class="ui form" method="post" action="{% url 'account_signup' %}">
        <h1 class="ui dividing header">
            Sign Up
        </h1>
        <div class="ui required field">
          <label>User name</label>
          <input name="username" type="text" minlength="4" maxlength="20" autofocus="autofocus" required="">
        </div>
        <div class="ui required field">
            <label>Email address</label>
            <input name="email" type="email" required="">
        </div>
        <div class="ui required field">
            <label>Password</label>
            <input name="password1" type="password" required="">
        </div>
        <div class="ui required field">
            <label>Password, again</label>
            <input name="password2" type="password" required="">
        </div>

        <button class="ui positive fluid submit button" type="submit">Submit</button>

        {% if redirect_field_value %}
            <input class="hidden" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        {% csrf_token %}
    </form>
</div>
{% endblock %}
