[settings]

DEBUG=True
ALLOWED_HOSTS=wypok.arturtamborski.pl
# You can get this key from https://github.com/arturtamborski/grcpass
SECRET_KEY=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST_USER=emailuser
EMAIL_HOST_PASSWORD=emailpassword
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False
EMAIL_SSL_CERTFILE=path/to/cert.pem
EMAIL_SSL_KEYFILE=path/to/cert.key
EMAIL_TIMEOUT=300

#DB_ENGINE=django.db.backends.sqlite3
DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=databasename
DB_USER=databaseuser
DB_PASSWORD=databasepassword
DB_HOST=localhost
DB_PORT=

#CACHE_BACKEND=django.core.cache.backends.memcached.MemcachedCache
CACHE_BACKEND=django.core.cache.backends.dummy.DummyCache
CACHE_LOCATION=127.0.0.1:11211
CACHE_TIMEOUT=3600
CACHE_KEY_PREFIX=
