<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="description" content="Portal ze śmiesznymi obrazkami">
        <meta name="author" content="Artur Tamborski">

        <!-- {% comment %}
        <link rel="sitemap" type="application/xml" title="sitemap" href="{% url 'sitemap' %}">
        {% endcomment %} -->

        {% load static %}
        <link rel="stylesheet" href="{% static '/css/semantic.min.css' %}">
        <style>
            .ui.comments{max-width:100%}
            .ui.tiny.image{width:100px}
            .myhidden{display: none}
            .mycommentid{color:lightgray}
            .mystate-I{color:cornflowerblue !important}
            .mystate-G{color:seagreen !important}
            .mystate-O{color:orangered !important}
            .mystate-R{color:maroon !important}
            .mystate-D{color:darkgray !important}
            .mystate-B{color:dimgray !important}
            .mygender-M{outline:4px solid lightblue !important}
            .mygender-F{outline:4px solid lightpink !important}
            .mygender-H{outline:4px solid lightgray !important}
        </style>
    </head>
    <body>
        <header class="ui stackable menu container">
            <a href="{% url 'sections:home' %}" class="brand item">wypok.com</a>
	    <a href="{% url 'sections:listing' %}" class="item">sections</a>
	    <a href="{% url 'profiles:listing' %}" class="item">users</a>
	    <a href="{% url 'tags:listing' %}" class="item">tags</a>
            <div class="right menu">
                {% if user.is_authenticated %}
                <a href="{% url 'profiles:detail' user %}" class="item mystate-{{ user.profile.state }}">{{ user.profile|prettify }}</a>
                <a href="{% url 'account_logout' %}" class="item">Log out</a>
                {% else %}
                <a href="{% url 'account_login' %}" class="item">Log in</a>
                <a href="{% url 'account_signup' %}" class="item">Sign up</a>
                {% endif %}
            </div>
        </header>
        <main class="ui main container">
            <div class="ui stackable grid">
                <div class="ui twelve wide column">
                    {% block content %}{% endblock %}
                </div>
                <div class="ui four wide stretched column">
                    <div class="ui segment">
		    {% block sidebar %}{% endblock %}
                    </div>
                </div>
            </div>
        </main>
        <footer class="ui stackable center aligned footer container segment">
            Copyright &copy; <a href="https://arturtamborski.pl">Artur Tamborski</a> 2017
        </footer>
        <script src="{% static '/js/jquery.min.js' %}"></script>
        <script src="{% static '/js/semantic.min.js' %}"></script>
    </body>
</html>
