{% extends "base.html" %}

{% block title %}
New post
{% endblock %}

{% block content %}
<div class="ui column stackable center aligned grid">
    <form method="post" action="{% url 'sections:edit_post' section post.id post.slug %}" class="ui six wide column form segment">
        <h1 class="ui dividing header">
            Edit post {{ post }} for section {{ section }}
        </h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="ui green submit button">Edit post</button>
    </form>
</div>
{% endblock %}
