{% extends "base.html" %}

{% block title %}
New post
{% endblock %}

{% block content %}
<div class="ui column stackable center aligned grid">
    <form method="post" action="{% url 'sections:new_post' section %}" class="ui six wide column form segment">
        <h1 class="ui dividing header">
            New post for section {{ section }}
        </h1>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="ui green submit button">Post</button>
    </form>
</div>
{% endblock %}
